
@{
    ViewBag.Title = "SuccessView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "SuccessView";
}

<h2>Payment Successful</h2>

<p>Your payment was successful. Thank you for your order!</p>

<p>Order ID: @ViewBag.OrderId</p>

